/*RESET.css*/
body {
  
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body, ul, p {
    margin: 0;
    padding: 0;
}

/*Common.css*/
.text-md {
    font-size: 1.2em;
}

.text-normal {
    font-size: 1em;
}

.text-sm {
    font-size: 0.8em;
}

.text-center {
    text-align: center;
}

.margin-l-sm {
    margin-left: 0.5em; 
}

.margin-t-sm {
    margin-top: 0.5em;
}

.margin-b-sm {
    margin-bottom: 0.5em;
}

.border-bottom {
    border-bottom: 1px solid #999;
}

.border-top {
    border-top: 1px solid #999;
}


.section-footer {
    position: fixed;
    bottom: 0;
    padding: 0px 0.5em;

    font-size: 0.67em;
}

.container {
    width: 100%;
    margin: 0.5em auto;
}

img.logo {
  display: block;
  max-width:80px;
  max-height:24px;
  width: auto;
  height: auto;
  flex: 1 0 0;
}

.flex-row {
    display: flex;
    display: -webkit-flex;

    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


.flex-row > .item, .flex-row > *{
    flex-grow: 1;
    flex-basis: 0;
    align-self: stretch;

    
}

.flex-row.partioned > *{
    border-right: 1px solid #999;
}

.flex-row > .item:last-child{
    border-right: none;
}

.flex-column {
    display: flex;
    display: -webkit-flex;

    flex-flow: column wrap;
    align-items: flex-start;
}

.flex-column.center{
    align-items: center
}

.flex-row > .item, .flex-column > .item {
    list-style-type: none;
}

.flex-row > .item.flex, .flex-column > .item.flex{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.flex-row > .item > *, .flex-column > .item > * {
    margin: 0.4em auto;
}

.section-address > *{
    margin: 0.4em auto;
}

.section-header, .section-payment, .pacakge-table-data{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.section-customer-address {
    margin-left: 1em;
    margin-top: 1em;
}

.pacakge-table-data > *{
    padding: 0.4em 0;
    align-self: center;
}

/*
    Invoice.css
*/
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 1em 0px;
}

.header-left {
    flex: 1.5;
    border-right: 1px solid #999;
    padding: 0px 0.5em;
}


.header-right {
    flex: 1;
}

.header-right > *{
    margin-left: 3em;
}

.barcode-wrapper {
    /*As Barcode generator generates barcode of width 300px*/
    width: 230px; 
    margin: 0px;
    margin-left: 0.2em;
}

.item-row {
    margin-top: 0.5em;
}

.table-product-info  li.item{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
}

.table-product-info .pacakge-description-data { 
    flex-grow: 3.5;
    padding-left: 1em;
}
.table-product-info .pacakge-qty-data, 
.table-product-info .pacakge-price-data
{
    flex-grow: 1;
    text-align: right;
    padding-right: 0.5em;
}

.order-item-wrapper{
    display: flex;
    flex-flow: row wrap;
    font-size: 0.8em;
    margin-left: 2em;
    margin-right: 4em;
    color: #999;
}

.order-item-wrapper .order-item {
    flex: 1;
}

.header-right img.logo {
  display: block;
  max-width:100px;
  max-height:35px;
  width: auto;
  height: auto;
  flex: 1 0 0;
}

.data-wrapper {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.img-barcode {
    width: 100%;
}

.flex-row > .item > * {
    margin-top: 0;
    margin-bottom: 0;
}

.icon-large{
    font-size: 3.5em;
}

ul li {
    list-style-type: none;
}

.error-container {
   
    background-color: #f1f1f1;
    padding-top: 8em;
    color: rgba(0, 0, 0, 0.5);
}

@media print {
    body {
         font-size: 6.5pt;
    }
    .barcode-wrapper {
        width: 150px; 
    }
    .order-item-wrapper {
        margin: 0;
    }

    .section-footer {
        position: fixed;
        bottom: 0;
    }
}

@page {
  size: 4in 6in;
  margin: 2mm 5mm;
}