doctype html
html
    head 
        title Challan
        link(href='/style.css', rel='stylesheet')
        link(href='/css/challan.css', rel='stylesheet')
        
    body 
        .container
            .section-header
                ul.flex-row.partioned
                    li.item.flex
                        img.logo(src="/images/logo.png")
                    li.item.flex
                        p.text-center.text-md 
                            b Delivery Challan
                    li.item
                        div
                            p.text-center Invoice No:
                            p.text-center.text-md <b>#{invoiceCode}</b>                        
                
            ul.flex-column.center
                li.item
                    p Shipping Provider:  
                        span.text-md <b>#{shippingProvider}</b>
                li.item
                    div
                        img(src= barcode)
                        p.text-center <b>#{barcodeText}</b>
            
            .section-payment
                ul.flex-row.partioned
                    
                    li.item
                        p.text-center Payment Mode:  
                            span.text-md <b>#{paymentMode}</b>
                    li.item
                        p.text-center Amount To Collect:  
                            span.text-md <b>#{amountToCollect}</b>
            
            //- Address 
            .section-customer-address
                p To:
                ul.flex-column
                    li.item
                        div 
                            p.text-md <b>#{customerInfo.name}</b>
                            p.text-md 
                                |   (
                                i.icon-phone <b>:#{customerInfo.phone}</b>
                                |   )
                    
                .section-address
                    p <b>#{customerInfo.line1}</b>
                    .line1
                        ul.flex-row
                            li.item 
                                span At: <b>#{customerInfo.village}</b>
                            li.item 
                                span Post: <b>#{customerInfo.post}</b>
                    .line2
                        ul.flex-row
                            li.item 
                                span Taluka: <b>#{customerInfo.taluka}</b>
                            li.item 
                                span District: <b>#{customerInfo.city}</b>
                    .line3
                        ul.flex-row
                            li.item 
                                span Pin Code: <b>#{customerInfo.pincode}</b>

            
            .section-package-info
                ul
                     
                    li.flex-row.partioned.pacakge-table-data
                        span.margin-l-sm Order ID 
                        span.text-center.text-md <b>#{orderCode}</b>
                    li.flex-row.partioned.pacakge-table-data
                        span.margin-l-sm Delivery Challan Date
                        span.text-center.text-md <b>#{challanDate}</b>
                    li.flex-row.partioned.pacakge-table-data
                        span.margin-l-sm Package WT 
                        span.text-center.text-md <b>#{packageWeight}</b>
                    unless isShippedByIndiaPost()
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm Transport Name
                            span.text-center.text-md <b>#{transport.name}</b>
                    if isShippedByIndiaPost()
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm BNPL No 
                            span.text-center.text-md <b>#{bnplNo}</b>
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm E-BILLER ID 
                            span.text-center.text-md <b>#{eBillerID}</b>
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm Payment Office 
                            span.text-center.text-md <b>#{paymentOffice}</b>
                    unless isShippedByIndiaPost()
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm Logistic Partner
                            span.text-center.text-md <b>#{franchise.name}</b>
                        li.flex-row.partioned.pacakge-table-data
                            span.margin-l-sm Location 
                            span.text-center.text-md <b>#{getAddressString(franchise.pickupLocation)}</b>
                    
            .section-footer
                .border-bottom
                    b To RETURN an item, Ship to :
                .margin-t-sm #{facilityAddress}

    script.
        window.onload = function() {
                window.print();
                window.close();
                };  


            