doctype html
html
    head
        title Error
        link(href='/style.css', rel='stylesheet')
        link(href='/css/challan.css', rel='stylesheet')

    body.error-container
        .container
            section
                div.flex-row.text-center
                    h1 #{messageHeader}
                div.flex-row.text-center
                    i.icon-emo-unhappy.icon-large
                div.flex-row.text-center
                    h1 #{statusCode}
                div.flex-row.text-center
                    h2 #{message}
                div.flex-row.text-center
                    p Sorry for inconvenience. We are notified with the error. Our team is looking into it. Please revert back with mail if issue still persists after 20min.
                    