doctype html
html
    head 
        title Invoice
        link(href='/style.css', rel='stylesheet')
    body 
        .container.invoice-container
            .header
                .header-left
                    .text-md.item-row 
                        b Retail/Tax Invoice
                    .text-normal.item-row
                        b Billing/ Shipping Address:
                    p.item-row <b>#{address.name}</b>
                    p.address-line-1 #{address.addressLine1}
                    p #{address.addressLine2}
                    - line3= address.city +' ' + address.pincode + ' ' + address.country
                    p #{line3}
                    p Mob No: #{address.phone}

                .header-right
                    .data-wrapper
                        - var imageSrc = BASE_URL + "/images/logo.png"
                        img.logo(src="/images/logo.png")
                    .data-wrapper.barcode-wrapper    
                        img.img-barcode(src= barcode)
                        p.text-center <b>#{packageCode}</b>
                    .data-wrapper
                        p.text-sm Order Number: <b>#{saleOrderCode}</b>
                        p.text-sm Invoice Number: <b>#{invoiceCode}</b>
                        p.text-sm Invoice Date: <b>#{invoiceDate}</b>

            .table-product-info
                ul.flex-row.partioned
                    li.item.pacakge-description-data Product Description
                    li.item.pacakge-qty-data QTY
                    li.item.pacakge-price-data Price(&#8377;)
                    li.item.pacakge-price-data TAX(%)
                    li.item.pacakge-price-data TAX(&#8377;)
                    li.item.pacakge-price-data Total(&#8377;)
                each item in invoiceItems
                    ul.flex-row.partioned
                        li.item.pacakge-description-data 
                            .product-item
                                p <b>#{item.itemName}</b>
                                .order-items
                                    ul.order-item-wrapper 
                                        li.order-item LOT NO
                                        li.order-item ITEM NO
                                        li.order-item EXPIRY DATE
                                    each orderItem in item.orderItems
                                        ul.order-item-wrapper
                                            - var lotNo = orderItem.lotNo || '-'
                                            li.order-item #{lotNo}
                                            li.order-item #{orderItem.itemCode}
                                            li.order-item #{orderItem.expiresOn}

                        li.item.pacakge-qty-data #{item.quantity}
                        li.item.pacakge-price-data #{item.sellingPrice}
                        if item.CST
                            li.item.pacakge-price-data #{item.CST}% CST
                        else if item.VAT
                            li.item.pacakge-price-data #{item.taxPercentage}% VAT
                        else 
                            li.item.pacakge-price-data 0%
                        li.item.pacakge-price-data #{item.totalTax}
                        li.item.pacakge-price-data #{item.totalPrice}
                ul.flex-row.partioned
                    li.item.pacakge-description-data <b>GRAND TOTAL</b>
                    li.item.pacakge-qty-data #{totalQuantity}
                    li.item.pacakge-price-data #{price}
                    li.item.pacakge-price-data 
                    li.item.pacakge-price-data #{tax}
                    li.item.pacakge-price-data #{totalPrice}
                           
            .section-footer
                p <b>Terms: </b> Complaints if any should be notified within 7 days from the date of delivery of the goods. Products/services bought are not for re­sale. All our transactions and bills are subject to #{adherenceCity} Jurisdiction. Please refer to product manual/guide for any further information. This is a computer generated invoice and does not require a signature. Net Invoice Amount (&#8377;) is payable by customer to the seller.
                p <b>Disclaimer: </b>A) Goods sold as a part of this shipment are intended for end user consumption and are not for resale. B) We are retailers. Product performance and quality issues should be taken up with the manufacturer.
                .margin-t-sm.border-top
                    p <b>Sold By:</b> #{facilityAddress},VAT TIN No. - #{vatNo} CST TIN No. ­#{cstNo}, 
                        | Seed Lic. No. ­#{seedLicenseNo}, Pesticide Lic. No. #{pesticideLicenseNo}
                        if fertiliserRetailSaleLicenseNo
                                span , Fertiliser Retailsale Lic. No.#{fertiliserRetailSaleLicenseNo} 
                        
                    p.margin-b-sm <b>Thank you for shopping with us. For any queries please call on #{facilityPhone}
   

    script.
        window.onload = function() {
                window.print();
                window.close();
                };         
